.more {
    width: 200px;
    padding: 3px;
    color: #333; /* Regular text color */
    background-color: #fff; /* Regular background color */
  }
  
  .more:hover {
    border-radius: 30px;
    color: #fa0c0c; /* Text color on hover */
    background-color: #454a4f; /* Background color on hover */
  }
  .textshow{
    background: linear-gradient(to right ,#23e4e4 0%,#330867 100%);
    background-clip: text;
    color: transparent;
  }
  /* rating-box */
  input[type=radio]{
    display: none;
  }
  .star{
    cursor: pointer;
    
  }
  @keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
     
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
      
    }
  }
  
  /* Apply the animation to your button */
  .bounce-button {
    animation: bounceAnimation 1.2s ease infinite; /* You can adjust the animation duration and easing as needed */
  }  